
body {
    background-color: antiquewhite;
    color: lightsalmon;
}

nav ul{
    display: flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    z-index:10;
}

nav li{
    list-style:none;
    background-color:lightsalmon;
    color:antiquewhite;
    margin:0;
    flex:1;
    min-width:200px;
    text-align:center;
    display:flex;
    position:relative;
}

nav a, nav a:visited{
    text-decoration:none;
    width:100%;
    padding:8px 0;
    color:antiquewhite;
}
nav a:hover, nav a.active{
    color:blanchedalmond;
    background-color:#f5adb4
}
.dropdown-content{
    position:absolute;
    top:37px;
    width:100%;
    display:none;
    z-index:20;
}
nav li:hover .dropdown-content{
    display:block;
}
.dropdown-content a{
    font-weight:bold;
}
.dropdown-content ul{
    flex-direction:column;
}
.img{
    text-align: center;
}